* {
  margin: 0;
  padding: 0;
}

select {
  display: block;
}

i  {
  margin-bottom: 12px;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 60px;
}

.logo {
  font-size: 18px;
  color: #b4b4b4;
  text-transform: uppercase;
}

.accept-button {
  position: absolute;
  bottom: 100px;
  right: 50px;
}

.modal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.modal {
  margin-top: 30px;
  display: block;
}

.error-container {
  color: red;
  font-size: 12px;
  width: 100%;
}

.error {
  border-bottom-color:red !important;
}

.row {
  margin-top: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
}
